body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.qle-component {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.qle-component h1 {
  color: #2c3e50;
}

.intro {
  margin-bottom: 20px;
}

.category {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 6px; /* Updated to 6px */
}

.category-button {
  width: 100%;
  text-align: left;
  font-weight: 600;
  padding: 10px;
  background-color: #f8f9fa;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 6px 6px 0 0; /* Updated to have 0 radius on bottom corners */
}

.category-button:hover {
  background-color: #e9ecef;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.category-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.category-content.open {
  max-height: 1000px; /* Adjust as needed */
}

.event {
  padding: 16px;
  border-top: 1px solid #ddd;
}

.event h3 {
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.check-mark {
  margin-left: 10px;
  color: #008668;
}

.event button {
  background-color: #2764aa;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.event button.selected {
  background-color: #008668;
}

.selected-event {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.selected-event h2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.next-steps {
  font-weight: bold;
  margin-top: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px; /* Updated to 6px */
  font-size: 16px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.categories {
  width: 100%;
}

.category-content p {
  margin: 8px 0;
}

ol {
  margin-bottom: 0;
}

.date-picker-container {
  max-width: 800px;
  margin: 20px auto;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.document-upload {
  margin-bottom: 20px;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border .3s ease-in-out;
}

.dropzone.active {
  border-color: #2764aa;
}

.uploaded-files {
  margin-top: 20px;
}

.uploaded-files ul {
  list-style-type: none;
  padding-left: 0;
}

.uploaded-files li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.delete-file {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-file:hover {
  background-color: #c82333;
}